<h1>掲示板TOP</h1>

<%= link_to '投稿する', new_post_path, class: 'btn btn-primary' %>

<% @posts.each do |post| %>
  <div class="panel panel-default clearfix">
    <div class="panel-heading"><%= post.title %></div>
    <div class="panel-body">
      <%= simple_format(post.body) %>

      <p class="text-right">
        <%= post.created_at.to_s %>
        <%= post.user.name %>
      </p>

      <div class="pull-right"><%= link_to '編集する', edit_post_path(post), class: 'btn btn-default' %></div>
      <div class="pull-right"><%= link_to '削除する', post, method: :delete, data: { confirm: '削除してい宜しいですか?' }, class: 'btn btn-danger'%></div>
    </div>
  </div>
<% end %>

<%= link_to '投稿する', new_post_path, class: 'btn btn-primary' %>
