<!DOCTYPE html>
<html>
<head>
  <title>Bords</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>

  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">秘密の掲示板</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to '掲示板TOP', posts_path %></li>
        <li><%= link_to 'ユーザー一覧', users_path %></li>
        <li><%= link_to '新規ユーザー登録', new_user_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="container">
  <% if notice %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>

  <%= yield %>
</div>

<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
    <div class="text-center">copyright &copy; <%= Time.zone.now.year %> 秘密の掲示板</div>
  </div>
</footer>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
